<div class="subheader">
    <h3 class="text-center">Products</h3>
</div>
<div class="pt-5 pb-5">
    <div class="row">
        <div class="col-md-3">
            
              
            <div class="sidebar-left">
                <h4>Categories</h4>
                <ul>
                    <li>
                        <a href="">Living Room</a>
                    </li>
                    <li>
                        <a href="">Dining room</a>
                    </li>
                    <li>
                        <a href="">Bedroom</a>
                    </li>
                    <li>
                        <a href="">Home Office</a>
                    </li>
                    
                    <li>
                        <a href="">Accessories</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-md-9">
            <div class="row product-grid">
                <div class="col-md-4">
                    <div class="img-container">
                        <img src="../../assets/images/images/showroom11.jpg" class="img-fluid">
                        <div class="share-div"><span class="mdi mdi-heart-outline"></span>
                        </div>
                    </div>

                    


                </div>


            </div>

        </div>
        

    </div>






    <table class="table">
        <thead>
            <tr>
                <th class="col_table  sno_col ">
                    Sr No
                </th>
                <th class="col_table "> Brand Name </th>
                <th class="col_table "> Collection </th>
                <th class="col_table "> Categories </th>
                <th class="col_table "> Related Products </th>
                <!-- <th class="col_table "> Categories </th> -->


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productData | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index">
                <td class="col_table sno_col "> {{i + 1}}</td>
                <td class="col_table text_capitalize"> {{item.brand}}</td>
                <td class="col_table text_capitalize"> {{item.collection}}</td>
                <ng-container *ngFor="let subItem of item.categories">
                    <td class="col_table text_capitalize mb-2 small mt-2"> {{subItem.path}}</td>
                </ng-container>
                <!-- <ng-container *ngFor="let subItem of item.relatedProducts"> -->


                <td class="col_table text_capitalize"> {{item.relatedProducts.crossSell}}</td>
                <td class="col_table text_capitalize"> {{item.relatedProducts.series}}</td>

                <!-- </ng-container> -->

            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>