<div id="p7LBM_1" class="p7LBM-01 p7LBM lbm-stack-sans lbm-bg-fixed p7LBM-1-style-1">
    <div id="logo-contact" class="lbm-row p7LBM-1-style-2">
        <div class="lbm-col-wrapper max-1500">
            <div class="lbm-column width-50 lbm-no-pad lbm-centered">
                <h3><img src="../../assets/images/png/eldon-furniture-flooring-appliance.fw.png" width="425"
                        height="140" class="scalable" alt=""></h3>
            </div>
            <div class="lbm-column width-50 lbm-no-pad lbm-centered">
                <h4><br>
                    CALL (573) 392-4721</h4>
                <p><span itemprop="streetAddress">VISIT THE SHOWROOM<br>
                        5 South Maple St.<br>
                    </span> <span itemprop="addressLocality">Eldon</span>, <span
                        itemprop="addressRegion">MO</span> <span itemprop="postalCode">65026<br>
                        <a href="mailto:eldonfur@usmo.com">eldonfur&#64;usmo.com </a></span></p>
                <p><a href="https://www.facebook.com/EldonFurniture" target="_blank"><img
                            src="../../assets/images/images/fb_icon.png" width="50" height="50" alt="" /></a><a
                        href="https://www.linkedin.com/company/eldon-furniture-company/" target="_blank"><img
                            src="../../assets/images/images/linkedin_icon.png" width="50" height="50" alt="" /></a></p>
            </div>
        </div>
    </div>
    <div id="navigation" class="lbm-row p7LBM-1-style-3">
        <div class="lbm-col-wrapper max-1500">
            <div class="lbm-column width-100 lbm-no-pad lbm-centered">
                <div id="p7AMM_1"
                    class="p7AMM amm-noscript amm-responsive amm-root-white amm-root-trans amm-root-rounded amm-rootlinks-rounded amm-subs-gray amm-subs-trans amm-subs-rounded amm-centered"
                    data-amm="360,1,900,5,-10,0,1,0,0,5,1,1,1,0,0" data-amm-label="More...">
                    <div id="p7AMMtb_1" class="amm-toolbar closed"><a title="Hide/Show Menu" href="#">&equiv;</a></div>
                    <ul class="closed" aria-label="Navigation Menu">
                        <li data-amm-priority="0"><a href="index.html">HOME</a></li>
                        <li data-amm-priority="0"><a href="furniture.html" class="amm-trigger">FURNITURE</a>
                            <ul>
                                <li><a href="furniture.html#living" class="amm-first">Living Rooms</a></li>
                                <li><a href="furniture.html#dining">Dining Rooms</a></li>
                                <li><a href="furniture.html#bedroom">Bedrooms</a></li>
                                <li><a href="furniture.html#more" class="amm-last">More Furnishings</a></li>
                            </ul>
                        </li>
                        <li data-amm-priority="0"><a href="#" class="amm-trigger">FLOORING</a>
                            <ul>
                                <li><a href="carpet.html" class="amm-first">Carpet</a></li>
                                <li><a href="wood-flooring.html">Wood</a></li>
                                <li><a href="rugs.html">Rugs</a></li>
                                <li><a href="tile.html">Tile & Stone</a></li>
                                <li><a href="laminate.html" class="amm-last">Laminate & Vinyl</a></li>
                            </ul>
                        </li>
                        <li data-amm-priority="0"><a href="blinds.html">BLINDS & WINDOWS</a></li>
                        <li data-amm-priority="0"><a href="bedding.html">MATTRESSES & BEDDING</a></li>
                        <li data-amm-priority="0"><a href="more.html" class="amm-trigger">MORE FURNISHINGS</a>
                            <ul>
                                <li><a href="more.html" class="amm-first">Outdoor Furniture & Bar Stools</a></li>
                                <li><a href="more.html" class="amm-first">Appliances</a></li>
                                <li><a href="more.html">Fabrics</a></li>
                                <li><a href="more.html">Gifts & Accessories</a></li>
                                <li><a href="more.html" class="amm-last">Radiant Heating</a></li>
                            </ul>
                        </li>
                        <li data-amm-priority="0"><a href="about.html">ABOUT US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="features" class="lbm-row">
        <div class="lbm-col-wrapper max-1500">
            <!-- <div class="lbm-column width-100 lbm-no-pad lbm-centered"> <img
                    src="../../assets/images/images/eldonstorefront.jpg" width="1500" height="500" class="scalable"
                    alt=""></div> -->
            <app-products></app-products>
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- <div id="photos" class="lbm-row lbm-ehc p7LBM-1-style-6">
        <div class="lbm-col-wrapper max-1500">
            <div class="lbm-column width-25 lbm-no-pad lbm-centered"> <a href="furniture.html"><img
                        src="../../assets/images/images/furniture.jpg" alt="" width="450" height="225"
                        class="scalable"></a></div>
            <div class="lbm-column width-25 lbm-no-pad lbm-centered"> <a href="wood-flooring.html"><img
                        src="../../assets/images/images/wood-flooring.jpg" alt="" width="450" height="225"
                        class="scalable"></a></div>
            <div class="lbm-column width-25 lbm-no-pad lbm-centered"> <a href="tile.html"><img
                        src="../../assets/images/images/tile-stone.jpg" alt="" width="450" height="225"
                        class="scalable"></a></div>
            <div class="lbm-column width-25 lbm-no-pad lbm-centered"> <a href="bedding.html"><img
                        src="../../assets/images/images/matresses.jpg" alt="" width="450" height="225"
                        class="scalable"></a></div>
        </div>
    </div> -->
    <div id="contact" class="lbm-row p7LBM-1-style-7 pink-bg">
        <div class="lbm-col-wrapper max-1500">
            <div class="lbm-column width-25 lbm-centered">
                <h3>CONTACT US<span itemprop="telephone"><br>
                    </span></h3>
                <h3>&nbsp;</h3>
                <h3>Telephone</h3>
                <h3><span itemprop="telephone">573-392-4721</span></h3>
                <p><span itemprop="streetAddress">Eldon Furniture Co Inc<br>
                        5 S Maple St<br>
                    </span><span itemprop="addressLocality">Eldon</span>, <span itemprop="addressRegion">MO</span> <span
                        itemprop="postalCode">65026<br>
                        <a href="mailto:eldonfur@usmo.com">eldonfur&#64;usmo.com </a> <br>
                    </span></p>
                <p><img src="../../assets/images/png/bottom-logo.fw.png" width="400" height="132" class="scalable"
                        alt=""><br>
                    <img src="../../assets/images/png/credit-card-logos.jpg" width="300" height="47" class="scalable"
                        alt=""><br>
                    <a href="https://etail.mysynchrony.com/eapply/eapply.action?uniqueId=B072F14966FC259020D8607904298DE04F98B552AB33D65C&client=Shawfloors"
                        target="_blank" class="text-link-light">FINANCING AVAILABLE</a>
                </p>
            </div>
            <div class="lbm-column width-25 lbm-centered">
                <h3>FIND US</h3>
                <div class="lbm-map-wrapper lbm-frame-border lbm-frame-rnd">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.946591413009!2d-92.58170338391679!3d38.35021818661427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c4b71fdfd9b3c1%3A0x5f107893e801a06b!2sEldon+Furniture+Co!5e0!3m2!1sen!2sus!4v1523817447595"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="lbm-column width-25 lbm-centered">
                <div style="display:none;">
                    <h3>SHOWROOM HOURS</h3>
                    <p>Monday-Wednesday<br>
                        8:30 AM-5:30 PM</p>
                    <p>Thursday <br>
                        8:00 AM-6:00 PM</p>
                    <p> Friday<br>
                        8:30 AM-5:30 PM</p>
                    <p> Saturday<br>
                        8:30 AM-3:00 PM</p>
                </div>
                <div>
                    <h3>SHOWROOM HOURS</h3>
                    <p>Monday – Friday<br>
                        8:30AM – 5:30PM</p>
                    <p>Saturday<br>
                        8:30AM – 3:00PM</p>
                    <p>Additional Hours by Appointment</p>
                </div>
            </div>
            <div class="lbm-column width-25 lbm-centered">
                <h3>CONNECT WITH US</h3>
                <p><a href="https://www.facebook.com/EldonFurniture/" target="_blank"><img
                            src="../../assets/images/png/facebook.png" width="48" height="48" class="scalable"
                            alt=""></a><a href="https://www.linkedin.com/company/28145407/admin/updates/"
                        target="_blank"><img src="../../assets/images/png/linkedin.png" width="48" height="48"
                            class="scalable" alt=""></a></p>
                <p></p>
                <div class="fb-page" data-href="https://www.facebook.com/EldonFurniture/" data-tabs="timeline"
                    data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                    data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/EldonFurniture/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/EldonFurniture/">Eldon Furniture Co</a></blockquote>
                </div>
            </div>
        </div>
    </div>
    <div id="brands" class="lbm-row">
        <div class="lbm-col-wrapper p7LBM-1-style-8">
            <div class="lbm-column width-100 lbm-centered">
                <h3>Our Furniture Brands</h3>
                <p><a href="https://prod.ashleyfurnitureindustriesinc.com/showroom/" target="_blank"><img
                            src="../../assets/images/brands/afi-logo.fw.jpg" alt="" width="121" height="25"
                            class="scalable" style="max-width:194px"></a>&nbsp;<a
                        href="https://www.bassettfurniture.com/" target="_blank"><img
                            src="../../assets/images/brands/bassett.fw.jpg" alt="" width="104" height="25"
                            class="scalable" style=" max-width:100"></a> &nbsp;<a
                        href="http://www.besthf.com/besthf/Furniture/Home" target="_blank"><img
                            src="../../assets/images/brands/best.jpg" width="57" height="25" class="scalable"
                            alt=""></a>
                    &nbsp;<a href="http://www.coastercompany.com/" target="_blank"><img
                            src="../../assets/images/brands/coa-logo.fw.jpg" alt="" width="97" height="25"
                            class="scalable" style=" max-width:100"></a>&nbsp; <a
                        href="http://www.englandfurniture.com/" target="_blank"><img
                            src="../../assets/images/brands/england.fw.jpg" alt="" width="85" height="25"
                            class="scalable" style=" max-width:100"></a> &nbsp;<a href="http://hollandbarstool.com/"
                        target="_blank"><img src="../../assets/images/brands/holland.jpg" alt="" width="174" height="25"
                            class="scalable" style=" max-width:100"></a>&nbsp;<a
                        href="http://www.lacrossefurniture.com/" target="_blank"><img
                            src="../../assets/images/brands/lacrosse_logo_lg.jpg" alt="" width="51" height="25"
                            class="scalable" style=" max-width:82px"></a> <a href="https://www.la-z-boy.com/"
                        target="_blank"><img src="../../assets/images/brands/La-Z-Boy_logo.jpg" alt="" width="111"
                            height="25" class="scalable" style=" max-width:100"></a>&nbsp;<a
                        href="http://www.powellcompany.com" target="_blank"><img
                            src="../../assets/images/brands/powell home fashions.fw.jpg" alt="" width="63" height="25"
                            class="scalable" style=" max-width:100"></a> &nbsp;<a
                        href="http://www.riverside-furniture.com" target="_blank"><img
                            src="../../assets/images/brands/riverside.jpg" alt="" width="92" height="25"
                            class="scalable" style=" max-width:100"></a> &nbsp;<a href="https://www.vaughanbassett.com/"
                        target="_blank"><img src="../../assets/images/brands/vaughn.fw.jpg" alt="" width="91"
                            height="25" class="scalable" style=" max-width:100"></a></p>
            </div>
        </div>
    </div>
    <div id="copyright" class="lbm-row">
        <div class="lbm-col-wrapper">
            <div class="lbm-column width-100 lbm-text-80 lbm-centered">
                <h3>Your Mid-Missouri Furniture, Flooring, Blinds, and Appliance Source is Eldon Furniture</h3>
                <p>Copyright 2024. Eldon Furniture. All rights reserved.<br>
                    <a href="http://www.mswinteractivedesigns.com" target="_blank" class="text-link-dark">Website design
                        and hosting by MSW Interactive Designs LLC. We put the web to work for you! </a>
                </p>
            </div>
        </div>
    </div>
</div>